<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--- Comunes -->
		<add key="LOG" value="C:\Navision\VisanBC25\Log\Visan25BC.txt"/>
		<add key="LOG-DETALLE" value="C:\Navision\VisanBC25\Log\Visan25BC_Detalle.html"/>
		<add key="FOLDER" value="C:\Navision\VisanBC25"/>
		<add key="VERSION" value="220425-1"/>
		<add key="URL" value="http://192.168.0.9:8080/inlogpru_wms/services/"/>

		<!-- Base de Datos Origen-->
		<add key="SERVER" value="192.168.0.2"/>
		<add key="USER" value="bindar"/>
		<add key="PASSWORD" value="bindar"/>
		<add key="DATABASE" value="VISAN500REAL"/>
		
		<!-- Migración Enero 25 (contabilidad)-->	
		<add key="GL-COMPANY" value="Visan_Migracion" />
		<add key="GL-COMPANY-WEB" value="Plantilla" />
		<add key="GL-CODEUNIT" value="ENERO25" />
		<add key="GL-SERVER-WEB" value ="192.168.0.9"/>
		<add key="GL-PUERTO" value ="7848"/>
		<add key="GL-USER-BC" value ="Polux"/>
		<add key="GL-PASSWD-BC" value ="_Avestruz19"/>
		<add key="GL-DOMAIN-BC" value ="Visan"/>
		<add key="GL-INSTANCIA" value ="BC251"/>
		
		<!--Migración Julio 25 (Ventas)-->
		<add key="ITEM-COMPANY" value="ARGANDA" />
		<add key="ITEM-COMPANY-WEB" value="Plantilla" />
		<add key="ITEM-CODEUNIT" value="Transferir_Productos" />
		<add key="ITEM-SERVER-WEB" value ="192.168.0.9"/>
		<add key="ITEM-PUERTO" value ="7848"/>
		<add key="ITEM-USER-BC" value ="Polux"/>
		<add key="ITEM-PASSWD-BC" value ="_Avestruz19"/>
		<add key="ITEM-DOMAIN-BC" value ="Visan"/>
		<add key="ITEM-INSTANCIA" value ="BC251"/>
	</appSettings>
</configuration>