<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LOG" value="C:\Navision\Logs\Visan25BC.txt"/>
		<add key="LOG-DETALLE" value="C:\Navision\Logs\Visan25BC_Detalle.html"/>
		<add key="FOLDER" value="C:\Navision\Visan25BC"/>
		<add key="VERSION" value="211124-1"/>
		<add key="SERVER" value="192.168.0.2"/>
		<add key="USER" value="bindar"/>
		<add key="PASSWORD" value="bindar"/>
		<add key="DATABASE" value="VISAN500REAL"/>
		<add key="COMPANY2" value="ARGANDA" />
		<add key="COMPANY" value="Visan_Migracion" />
		<add key="COMPANY-WEB" value="Visan" />
		<add key="CODEUNIT" value="ENERO25" />
		<add key="SERVER-WEB" value ="192.168.0.9"/>
		<add key="PUERTO" value ="7048"/>
		<add key="USER-BC" value ="Polux"/>
		<add key="PASSWD-BC" value ="_Avestruz19"/>
		<add key="DOMAIN-BC" value ="Visan"/>
		<add key="INSTANCIA" value ="VISAN_BC_DESARROLLO"/>
		<add key="URL" value="http://192.168.0.9:8080/inlogpru_wms/services/"/>
	</appSettings>
</configuration>